include ../includes/variables.jade
include ../includes/mixins/mixins.jade

doctype html
html(lang='en')
  include ../includes/head.jade

  body
    #page.page
      .content
        include ../includes/header.jade
        main.container
          .notifications
            .notifications__tabs-wrap
              .notifications__switcher
                button(type='button').notifications__switcher-tab Уведомления
                button(type='button').notifications__switcher-tab Сообщения

            ul.notifications__item-list              
              li.notifications__item.first
                a.notifications__item-link.first(href=empty_href)
                  .notifications__userpic
                    +retina_img_png('userpic', 'Детский дом')

                  .notifications__inner-wrap
                    .notifications__dis
                      .notifications__title.notifications__title--active
                        | Детский дом №5
                      span.notifications__event
                        | День открытых дверей 
                    .notifications__message
                      p.notifications__message-text
                        | Ваша заявка на участие одобрена
                      time.notifications__time
                        | 12:50
              li.notifications__item
                a.notifications__item-link(href=empty_href)
                  .notifications__userpic
                    +retina_img_png('userpic', 'Детский дом')

                  .notifications__inner-wrap
                    .notifications__dis
                      .notifications__title.notifications__title--active
                        | Детский дом №5
                      span.notifications__event
                        | День открытых дверей 
                    .notifications__message
                      p.notifications__message-text
                        | Ваша заявка на участие одобрена
                      time.notifications__time
                        | 12:50          

              li.notifications__item
                a.notifications__item-link(href=empty_href)
                  .notifications__userpic
                    +retina_img_png('userpic', 'Детский дом')

                  .notifications__inner-wrap
                    .notifications__dis
                      .notifications__title.notifications__title--active
                        | Детский дом №5
                      span.notifications__event
                        | День открытых дверей 
                    .notifications__message
                      p.notifications__message-text
                        | Ваша заявка на участие одобрена
                      time.notifications__time
                        | 12:50

              li.notifications__item
                a.notifications__item-link(href=empty_href)
                  .notifications__userpic
                    +retina_img_png('userpic', 'Детский дом')

                  .notifications__inner-wrap
                    .notifications__dis
                      .notifications__title.notifications__title--active
                        | Детский дом №5
                      span.notifications__event
                        | День открытых дверей 
                    .notifications__message
                      p.notifications__message-text
                        | Ваша заявка на участие одобрена
                      time.notifications__time
                        | 12:50

            ul.notifications__item-list              
              li.notifications__item.first
                a.notifications__item-link(href=empty_href)
                  .notifications__userpic
                    +retina_img_png('userpic', 'Детский дом')

                  .notifications__inner-wrap
                    .notifications__dis
                      .notifications__title.notifications__title--active
                        | Детский дом №5
                      span.notifications__event
                        | День открытых дверей 
                    .notifications__message
                      p.notifications__message-text
                        | Ваша заявка на участие одобрена
                        | Ваша заявка на участие одобрена
                        | Ваша заявка на участие одобрена
                        | Ваша заявка на участие одобрена
                      time.notifications__time
                        | 12:50

              li.notifications__item
                a.notifications__item-link(href=empty_href)
                  .notifications__userpic
                    +retina_img_png('userpic', 'Детский дом')

                  .notifications__inner-wrap
                    .notifications__dis
                      .notifications__title.notifications__title--active
                        | Детский дом №5
                      span.notifications__event
                        | День открытых дверей 
                    .notifications__message
                      p.notifications__message-text
                        | Ваша заявка на участие одобрена
                        | Ваша заявка на участие одобрена
                        | Ваша заявка на участие одобрена
                        | Ваша заявка на участие одобрена
                        | Ваша заявка на участие одобрена
                        | Ваша заявка на участие одобрена
                        | Ваша заявка на участие одобрена
                        | Ваша заявка на участие одобрена
                        | Ваша заявка на участие одобрена
                      time.notifications__time
                        | 12:50

              li.notifications__item
                a.notifications__item-link(href=empty_href)
                  .notifications__userpic
                    +retina_img_png('userpic', 'Детский дом')

                  .notifications__inner-wrap
                    .notifications__dis
                      .notifications__title.notifications__title--active
                        | Детский дом №5
                      span.notifications__event
                        | День открытых дверей 
                    .notifications__message
                      p.notifications__message-text
                        | Ваша заявка на участие одобрена
                      time.notifications__time
                        | 12:50
              li.notifications__item
                a.notifications__item-link(href=empty_href)
                  .notifications__userpic
                    +retina_img_png('userpic', 'Детский дом')

                  .notifications__inner-wrap
                    .notifications__dis
                      .notifications__title.notifications__title--active
                        | Детский дом №5
                      span.notifications__event
                        | День открытых дверей 
                    .notifications__message
                      p.notifications__message-text
                        | Ваша заявка на участие одобрена
                        | Ваша заявка на участие одобрена
                        | Ваша заявка на участие одобрена
                        | Ваша заявка на участие одобрена
                      time.notifications__time
                        | 12:50        
    
    script(src='js/pages/notifications-page.js')
              
